@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);


/* ----- General ----- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	color: #1b1b1b;
}

body {
	background-color: #333;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
}



/* ----- Text ----- */

#quote-box {
	position: relative;
	width: 50em;
	height: auto;
	padding: 20px 10px;
	background-color: #f4f4f4;
	border-radius: 15px;
	display: grid;
	grid-template-rows: 3fr auto auto;
	grid-template-columns: 10% auto;
	grid-template-areas: 
		'links txt'
		'links author'
		'links btn'
}

.quote-icon {
	width: 80px;
	height: 80px;
	position: absolute;
	top: -18%;
	left: 50%;
	transform: translateX(-50%);
	font-size:2em;
	border-radius: 50%;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
}
.quote-icon i {
	color: #555;
}

#quote-text {
	padding: 10px 10px;
	z-index: 2;
}

#text {
	padding: 10px 0;
	font-size: 2em;
	text-align: center;
	grid-area: txt;
	color: #333;
}

#author {
	padding: 10px 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.2em;
	grid-area: author;
}



/* ----- Button ----- */

.btn-box {
	grid-area: btn;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 2px;
	padding-right: 30px;
}

#new-quote {
	background: #C82333;
	width: 160px;
	height: 40px;
	color: white;
	border: none;
	border-radius: 3px;
}

#new-quote:hover {
	background: #a51c27;
}
#new-quote:focus {
	outline: none;
}

#new-quote i {
	margin: 5px;
	color: white;
}



/* ----- Links ----- */

.links {
	grid-area: links;
	/*background-color: green;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

 .links a {
	margin: 20px 0;
	font-size: 1.8em;
}

.links i {
    color: gray;
}
.fa-facebook:hover {
	color: rgb(59, 91, 152);
}
.fa-twitter:hover {
	color: #339af0;
}